<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Difi.SikkerDigitalPost.Klient.Testklient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SDP:TimeoutIMillisekunder" value="10000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
<userSettings>
    <Difi.SikkerDigitalPost.Klient.Testklient.Properties.Settings>
        <setting name="MottakerPersonnummer" serializeAs="String">
            <value>04036125433</value>
        </setting>
        <setting name="MottakerDigipostadresse" serializeAs="String">
            <value>ove.jonsen#6K5A</value>
        </setting>
        <setting name="MottakerSertifikatThumbprint" serializeAs="String">
            <value>B43CAAA0FBEE6C8DA85B47D1E5B7BCAB42AB9ADD</value>
        </setting>
        <setting name="OrgnummerPosten" serializeAs="String">
            <value>984661185</value>
        </setting>
        <setting name="DatabehandlerSertifikatThumbprint" serializeAs="String">
            <value>8702F5E55217EC88CF2CCBADAC290BB4312594AC</value>
        </setting>
    </Difi.SikkerDigitalPost.Klient.Testklient.Properties.Settings>
  </userSettings>
</configuration>