<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Difi.SikkerDigitalPost.Klient.Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Difi.SikkerDigitalPost.Klient.Tester.Properties.Settings>
            <setting name="DigitalPostkasseAdresseMottaker" serializeAs="String">
                <value>ove.jonsen#6K5A</value>
            </setting>
            <setting name="PersonnummerMottaker" serializeAs="String">
                <value>04036125433</value>
            </setting>
            <setting name="OrganisasjonsnummerAvsender" serializeAs="String">
                <value>984661185</value>
            </setting>
            <setting name="OrganisasjonsnummerPostkasse" serializeAs="String">
                <value>984661185</value>
            </setting>
            <setting name="UrlMeldingsformidler" serializeAs="String">
                <value>https://qaoffentlig.meldingsformidler.digipost.no/api/ebms</value>
            </setting>
            <setting name="Avsenderidentifikator" serializeAs="String">
                <value>digipost</value>
            </setting>
            <setting name="DatabehandlerSertifikatThumbprint" serializeAs="String">
                <value>8702F5E55217EC88CF2CCBADAC290BB4312594AC</value>
            </setting>
            <setting name="MottakerSertifikatThumbprint" serializeAs="String">
                <value>B43CAAA0FBEE6C8DA85B47D1E5B7BCAB42AB9ADD</value>
            </setting>
        </Difi.SikkerDigitalPost.Klient.Tester.Properties.Settings>
    </userSettings>
</configuration>