---
layout: default
title: .NET-klient for integrasjon mot Sikker digital post-tjenesten
redirect_from:
isHome: true
---

<div id="main" class="with-aside">
	<section id="content" tabindex="-1">

		<article class="one-col">		
			{% if site.downloadUrl != "" %}
				<div class="body">
					<div class="button custom" data-button-type="0" data-url="{{ site.downloadUrl }}" role="button" tabindex="0">
						<div class="logo">
							<img alt="logo" src="//www.difi.no/modules/contrib/difi_ckeditor_widgets/plugins/difibutton/icons/difibutton.png">
						</div>
						<div class="text">
							<div class="title">Last ned</div>
							<div class="sub-title">Gå til {{ site.downloadUrl }}</div>
						</div>
						<div class="arrow">›</div>
					</div>
				</div>
			{% endif %}

			<!-- Documentation -->
			{% for dok in site.v1_2 %}
				{% if dok.id %}
					<h2 id="{{dok.id}}">{{dok.title}}</h2>
					<div class="body">
						<p>{{dok.content}}</p>
					</div>
				{% endif%}
			{% endfor %}

		</article>
	</section>

	<aside>
		<section class="box">
			<div class="heading">
				<h2>Innhold</h2>
			</div>
			<div class="body">
				<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" id="aside-nav">
				</nav>
			</div>
		</section>
	</aside>	
</div>
